/* Ensure full height of the viewport is used */
html, body, #root {
  height: 100%;
}

.app {
    background-color: #e1e1e1;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; /* Ensure app takes up at least the full viewport height */
    padding: 10px; /* Add padding for better spacing */
}

.appBody {
    display: flex;
    margin-top: 35px;
    margin-left: 20px;
    margin-right: 20px;
}

.appFooter {
  margin-top: auto; /* Push footer to the bottom */
  width: 100%; /* Ensure footer takes full width */
}