.feed {
    width: 555px;
    margin-left: 24px;
    margin-right: 24px;
}
.postFeed {
    background-color: white;
    border-radius: 10px;
    height: 116px;
    margin-bottom:10px
}
.postPictureInputContainer {
    display: flex;
    align-items: center;

}
.pictureFeed {
    object-fit: contain;
    height: 48px !important;
    width: 48px !important;
    margin-top: 12px;
    margin-left: 19px

}
.postInputContainer {
    background-color: white;
    width: 100%;
    border-style: solid;
    border-width: 0.7px;
    border-color: grey;
    padding: 12px;
    margin-top: 12px;
    margin-right: 12px;
    margin-left: 10px;
    border-radius: 40px;
}
.postInput {
    outline: none;
    border: none;
    text-decoration: bold;
    color: rgb(108, 108, 108);
    font-size: 14px;
    font-weight: 900 ;
}
.postMenu {
    display: flex;
    justify-content: space-evenly;
}
.postMenuOption {
    display: flex;
    align-items: center;
    margin: 16px 0px;
}
.photoIcon {
    color: rgb(0, 140, 255);
}
.videoIcon {
    color: rgb(30, 148, 30);
}
.calendarIcon {
    color: rgb(169, 117, 19);
}
.feedIcon {
    color: rgb(217, 102, 25);
}
.postMenuTitle {
    color: grey;
    font-size: 15px;
}
.individualPost {
    background-color: white;
    border-radius: 10px;
}
.individualPostContainer {
    display: flex;
}
.individualPostPicture {
    object-fit: contain;
    height: 48px !important;
    width: 48px !important;
    margin-top: 12px;
    margin-left: 19px;
}
.individualPostInfo {
    margin-top: 12px;
    margin-left: 8px;
    width: 100%;
}
.firstRow {
    display: flex;
    margin-bottom: 0;
    padding-bottom: 0;
}
.individualPostName {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
    padding-bottom: 0;
}
.connectionStatus {
    color: grey;
    font-size: 14px;
    font-weight: 450;
}
.threeDots {
    color: grey;
    margin-left: auto;
    margin-right: 12px;
}
.individualPostNameBioContainer {
    margin-top: -7px;
}
.individualPostNameBio {
    color: grey;
    font-size: 14px;
    font-weight: 450;
}
.individualPostBio {
    padding-top: 10px;
    margin-left: 19px;
    margin-right: 19px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
}