.headerOption {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: grey;
    margin-right: 20px;
    cursor: pointer;

}
.headerOption:hover {
    color: black;
    transition: color 150ms ease-in;
}
.headerOptionIcon {
    object-fit: contain;
    height: 25px !important;
    width: 25px !important;
}
.headerOptionTitle {
    font-size: 12px;
    font-weight: 400;
}