.login {
    display: grid;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}
.loginTitleDiv {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}
.loginTitle {
    font-size: 55px;
    font-weight: bold;
}
.loginTitleIcon {
    height: 70px;
} 
.login > form {
    display: flex;
    flex-direction: column;
}
.login > form > input {
    width: 350px;
    height: 50px;
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.login > form > button {
    width: 365px;
    height: 50px;
    font-size: large;
    color: #ffffff;
    background-color: #0074b1;
    border-radius: 5px;
}
.login > p {
    margin-top: 20px;
}
.loginRegister {
    color: #0074b1;
    cursor: pointer;
}