.app {
    background-color: #e1e1e1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.appBody {
    display: flex;
    margin-top: 35px;
    max-width: 1200px;
    margin-left: 20px;
    margin-right: 20px;
}

/* .appBody {
    display: flex;
    justify-content: center;
    padding-top: 24px;
    background-color: #e1e1e1;
    padding-bottom: 24px;
} */